<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>CSV template</title>
</head>
<body>
<h1>Following markers could be set:</h1>

<h2>General:</h2>
###URL_SELF###                  <br />
                                <br />

<h2>Show the value of input fields:</h2>
###VALUE_<FIELDNAME>###         <br />
                                <br />

<h2>Show whole prepered content:</h2>
###INPUT_HTML###                <br />
###INPUT_PLAIN###               <br />
                                <br />

<h2>Show your own locallang labels (see manual):</h2>
###LLL:<label_name>###          <br />
                                <br />

<h2>Show user information:</h2>
###USER:<db_fieldname>###       <br />
                                <br />
                                <br />



<!-- ###TEMPLATE### begin -->
"###LLL:csv_header_uid###";"###LLL:csv_header_pid###";"###LLL:csv_header_datetime###";"###LLL:csv_header_ip###";"###LLL:csv_header_agent###";"###LLL:csv_header_hash###";"###LLL:csv_header_fields###"
###CSV_ROWS###
<!-- ###TEMPLATE### end -->





<!-- ###SUB_TEMPLATE_CSV_ROWS### begin -->
"###UID###";"###PID###";"###CRDATE###";"###IP###";"###AGENT###";"###HASH###";"###INPUT_PLAIN###"
<!-- ###SUB_TEMPLATE_CSV_ROWS### end -->



</body>
</html>