<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default CSV template</title>
</head>
<body>
<h1>Default CSV template</h1>
<p>The following markers could be set:</p>
<div style="font-family: monospace; font-size:11px; background:#E6EFF9; border:1px dashed #000000; margin-bottom: 24px;">
	<pre>
    // General markers
    ###URL_SELF###
    ###IMAGE_PATH###
    ###INFO###


    // Menus
    ###MENU_MODE###
    ###MENU_PERIOD###


    // Show the value of db fields
    ###<FIELDNAME>###


    // Show information about the frontend user (if cruser_id is not "0")
    ###FE_USER_<DB_FIELDNAME>###


    // Show the value of form input fields
    ###VALUE_<FIELDNAME>###


    // Show whole prepered form content
    ###INPUT_HTML###
    ###INPUT_PLAIN###


    // Show your own locallang labels (see manual)
    ###LLL:<label_name>###


    // Show backend user information
    ###USER:<db_fieldname>###
	</pre>
</div>





<!-- ###TEMPLATE### begin -->
"###LLL:csv_header_uid###";"###LLL:csv_header_pid###";"###LLL:csv_header_datetime###";"###LLL:csv_header_ip###";"###LLL:csv_header_fe_user###";"###LLL:csv_header_method###";"###LLL:csv_header_agent###";"###LLL:csv_header_hash###";"###LLL:csv_header_fields###"
###CSV_ROWS###
<!-- ###TEMPLATE### end -->





<!-- ###SUB_TEMPLATE_CSV_ROWS### begin -->
"###UID###";"###PID###";"###CRDATE###";"###IP###";"###FE_USER_NAME###";"###METHOD###";"###AGENT###";"###HASH###";"###INPUT_PLAIN###"
<!-- ###SUB_TEMPLATE_CSV_ROWS### end -->



</body>
</html>