h4.tx_spbettercontact_headline {
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 6px;
	margin: 6px 0;
}

div.tx_spbettercontact_log {
	border: 1px solid #A2AAB8;
	font-size: 10px;
	cursor: default;
}

div.tx_spbettercontact_log_top {
	background: #585858;
	color: #FFFFFF;
	height: 24px;
	line-height: 24px;
	padding-left: 6px;
	border-bottom: 1px solid #A2AAB8;
	overflow: hidden;
}

div.tx_spbettercontact_log_top select {
	padding: 1px;
}

div.tx_spbettercontact_log_top img {
	margin-top: -4px;
	width: 16px;
	height: 100%;
	cursor: pointer;
}

#tx_spbettercontact_log_csv {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(../../images/csv.gif) center center no-repeat;
	cursor: pointer;
	margin-top: 4px
}

#tx_spbettercontact_log_delete {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(../../images/delete.gif) center center no-repeat;
	cursor: pointer;
	margin-top: 4px
}

div.tx_spbettercontact_log_top_menu1,
div.tx_spbettercontact_log_top_menu2,
div.tx_spbettercontact_log_top_menu3,
div.tx_spbettercontact_log_top_menu4 {
	display: inline;
	height: 24px;
	line-height: 24px;
	color: #FFFFFF;
	vertical-align: top;
}

div.tx_spbettercontact_log_top_menu1,
div.tx_spbettercontact_log_top_menu2 {
	margin-right: 12px;
	padding-right: 4px;
	background: url(../../images/divider.gif) right center no-repeat;
}

div.tx_spbettercontact_log_body {
	background: #FFFFFF;
	margin-bottom: -1px;
}

div.tx_spbettercontact_log_body_header {
	background: #F9F9F9;
	border-bottom: 1px solid #A2AAB8;
	height: 20px;
	line-height: 20px;
	/*padding-right: 18px;*/
}

div.tx_spbettercontact_log_body_header th {
	padding: 0 3px;
	font-weight: normal;
	text-align: left;
}

th.tx_spbettercontact_log_header_row {
	border-left: 1px solid #EFEFF4;
	border-right: 1px solid #A2AAB8;
}

th.tx_spbettercontact_log_header_row_first {
	border-right: 1px solid #A2AAB8;
}

th.tx_spbettercontact_log_header_row_last {
	border-left: 1px solid #EFEFF4;
}

div.tx_spbettercontact_log_body_content td {
	border-bottom: 1px solid #A2AAB8;
	padding: 3px 4px 0px 4px;
	font-weight: normal;
}

div.tx_spbettercontact_log_body_content td div {
	height: 18px;
	line-height: 17px;
	overflow: hidden;
	white-space: wrap;
}

tr.tx_spbettercontact_log_expanded td div {
	height: auto;
	overflow: visible;
	padding-bottom: 3px;
}

div.tx_spbettercontact_log_check,
tr.tx_spbettercontact_log_expanded td div.tx_spbettercontact_log_check {
	background: url(../../images/check.gif) 1px 0 no-repeat;
	height: 18px;
	width: 100%;
	cursor: pointer;
}

div.tx_spbettercontact_log_check_checked,
tr.tx_spbettercontact_log_expanded td div.tx_spbettercontact_log_check_checked {
	background-position: -24px 0;
}

div.tx_spbettercontact_log_checkall {
	background: url(../../images/check.gif) 2px 2px no-repeat;
	height: 18px;
	width: 100%;
	cursor: pointer;
}

div.tx_spbettercontact_log_checkall_checked {
	background-position: -23px 2px;
}

div.tx_spbettercontact_log_expand,
tr.tx_spbettercontact_log_expanded td div.tx_spbettercontact_log_expand {
	background: url(../../images/expand.gif) 3px 0px no-repeat;
	height: 18px;
	width: 100%;
	cursor: pointer;
}

tr.tx_spbettercontact_log_expanded td div.tx_spbettercontact_log_expand {
	background-position: -22px 0;
}

tr.tx_spbettercontact_log_expanded {
	background: #E9E9E9;
}

tr.tx_spbettercontact_log_hover {
	background: #DADADA;
}

div.tx_spbettercontact_log_bottom {
	background: #585858;
	color: #FFFFFF;
	height: 24px;
	line-height: 23px;
	padding-left: 6px;
	border-top: 1px solid #A2AAB8;
}

br.ie_bugfix {
	line-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
	display: none;
}