<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default backend template</title>
</head>
<body>
<h1>Default backend template</h1>
<p>The following markers could be set:</p>
<div style="font-family: monospace; font-size:11px; background:#E6EFF9; border:1px dashed #000000; margin-bottom: 24px;">
	<pre>
    // General markers
    ###URL_SELF###
    ###URL_SCRIPT###
    ###INFO###


    // Menus
    ###MENU_MODE###
    ###MENU_PERIOD###


    // Show the value of db fields
    ###<FIELDNAME>###


    // Show the value of form input fields
    ###VALUE_<FIELDNAME>###


    // Show information about the frontend user (if cruser_id is not "0")
    ###FE_USER_<DB_FIELDNAME>###


    // Show whole prepered form content
    ###INPUT_HTML###
    ###INPUT_PLAIN###


    // Show your own locallang labels (see manual)
    ###LLL:<label_name>###


    // Show backend user information
    ###USER:<db_fieldname>###
	</pre>
</div>





<!-- ###TEMPLATE### begin -->
<h4 class="tx_spbettercontact_headline">###LLL:headline###</h4>
###LLL:mod_description###
<div class="tx_spbettercontact_log">
	<div class="tx_spbettercontact_log_top">
		<div class="tx_spbettercontact_log_top_menu1">
			###LLL:menu_mode###&nbsp;###MENU_MODE###
		</div>
		<div class="tx_spbettercontact_log_top_menu2">
			###LLL:menu_period###&nbsp;###MENU_PERIOD###
		</div>
		<div class="tx_spbettercontact_log_top_menu3">
			###LLL:menu_actions###&nbsp;
			<a href="" target="_self" title="###LLL:action_download_csv###" id="tx_spbettercontact_log_csv"><img src="clear.gif" /></a>&nbsp;
			<a href="" target="_self" title="###LLL:action_delete_entries###" id="tx_spbettercontact_log_delete"><img src="clear.gif" /></a>
		</div>
	</div>
	<div class="tx_spbettercontact_log_body">
		<div class="tx_spbettercontact_log_body_header">
			<table cellspacing="0" cellpadding="2" width="100%">
				<tr>
					<th width="16" class="tx_spbettercontact_log_header_row_first"><div id="tx_spbettercontact_log_checkall" class="tx_spbettercontact_log_checkall"></div></th>
					<th width="16" class="tx_spbettercontact_log_header_row"></th>
					<th width="92" class="tx_spbettercontact_log_header_row">###LLL:table_header_datetime###</th>
					<th width="92" class="tx_spbettercontact_log_header_row">###LLL:table_header_ip###</th>
					<th width="120" class="tx_spbettercontact_log_header_row">###LLL:table_header_fe_user###</th>
					<th width="50" class="tx_spbettercontact_log_header_row">###LLL:table_header_method###</th>
					<th class="tx_spbettercontact_log_header_row">###LLL:table_header_agent###</th>
					<th width="25%" class="tx_spbettercontact_log_header_row_last">###LLL:table_header_fields###</th>
				</tr>
			</table>
		</div>
		<div class="tx_spbettercontact_log_body_content" id="tx_spbettercontact_log_body_content">
			###INFO###
			<table cellspacing="0" cellpadding="2" width="100%">
				###LOG_TABLE_ROWS###
			</table>
		</div>
	</div>
	<div class="tx_spbettercontact_log_bottom">
		###LLL:table_footer_rows### ###ROW_COUNT###
	</div>
</div>
<script language="javascript">
	oConfig = {
		sScriptURL   : '###URL_SCRIPT###',
		sLabelDelete : '###LLL:confirm_delete_entries###'
	}
</script>
<!-- ###TEMPLATE### end -->





<!-- ###SUB_TEMPLATE_LOG_TABLE_ROWS### begin -->
<tr>
	<td valign="top" width="16"><div class="tx_spbettercontact_log_check" id="tx_spbettercontact_log_check_###UID###"></div></td>
	<td valign="top" width="16"><div class="tx_spbettercontact_log_expand"></div></td>
	<td valign="top" width="92"><div>###CRDATE###</div></td>
	<td valign="top" width="92"><div>###IP###</div></td>
	<td valign="top" width="120"><div>###FE_USER_NAME###</div></td>
	<td valign="top" width="50"><div>###METHOD###</div></td>
	<td valign="top"><div>###AGENT###</div></td>
	<td valign="top" width="25%"><div>###INPUT_HTML###</div></td>
</tr>
<!-- ###SUB_TEMPLATE_LOG_TABLE_ROWS### end -->



</body>
</html>