<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>formular template</title>
</head>
<body>
<h1>Following markers could be set:</h1>

<h2>General:</h2>
###URL_SELF###					<br />
###INFO###						<br />
###HIDDEN###					<br />
###SUBMIT###					<br />
###SUBMIT_VALUE###				<br />
###CHARSET###					<br />
###ANCHOR###					<br />
								<br />

<h2>Show all messages of all fields as list:</h2>
###MESSAGES###					<br />
								<br />

<h2>Show inline messages for each field:</h2>
###MSG_<FIELDNAME>###			<br />
								<br />

<h2>Add error class to each field:</h2>
###ERR_<FIELDNAME>###			<br />
								<br />

<h2>Show the value of input fields:</h2>
###VALUE_<FIELDNAME>###			<br />
								<br />

<h2>Set state of a checkbox:</h2>
###CHECKED_<FIELDNAME>###		<br />
								<br />

<h2>Set state of a radio button:</h2>
###CHECKED_<FIELDNAME>_[###<SAME_AS_VALUE>###]###	<br />
								<br />

<h2>Set state of a select option:</h2>
###SELECTED_<FIELDNAME>_[###<SAME_AS_VALUE>###]###	<br />
								<br />

<h2>Show labels for the input fields:</h2>
###LABEL_<FIELDNAME>###			<br />
								<br />

<h2>Show your own markers (define via TypoScript - see manual):</h2>
###<NAME_OF_MY_MARKER>###		<br />
								<br />

<h2>Show your own locallang labels (see manual):</h2>
###LLL:<label_name_in_xml>###	<br />
								<br />
								<br />

<h2>Show captcha (see manual):</h2>
###CAPTCHA_DATA###				<br />
###CAPTCHA_FILE###				<br />
###SR_FREECAP_NOTICE###			<br />
###SR_FREECAP_CANT_READ###		<br />
###SR_FREECAP_IMAGE###			<br />
###SR_FREECAP_ACCESSIBLE###		<br />
###CAPTCHA_FIELD###				<br />
								<br />
								<br />


<!-- ###TEMPLATE### begin -->
	###ANCHOR###
	<form action="###URL_SELF###" method="post" name="tx_spbettercontact_form" accept-charset="###CHARSET###">
		<!--
			Show message if mail is sent
		-->
		<p class="tx_spbettercontact_info">###INFO###</p>
		<!--
			Field for name
		-->
		<p class="tx_spbettercontact_message">###MSG_NAME###</p>
		<label for="tx_spbettercontact_input_name" class="tx_spbettercontact_label">###LABEL_NAME###</label>
		<input type="text" id="tx_spbettercontact_input_name" name="###NAME###" value="###VALUE_NAME###" class="###ERR_NAME###" />
		<br />
		<!--
			Field for phone
		-->
		<p class="tx_spbettercontact_message">###MSG_TEL###</p>
		<label for="tx_spbettercontact_input_tel" class="tx_spbettercontact_label">###LABEL_TEL###</label>
		<input type="text" id="tx_spbettercontact_input_tel" name="###TEL###" value="###VALUE_TEL###" class="###ERR_TEL###" />
		<br />
		<!--
			Field for fax
		-->
		<p class="tx_spbettercontact_message">###MSG_FAX###</p>
		<label for="tx_spbettercontact_input_fax" class="tx_spbettercontact_label">###LABEL_FAX###</label>
		<input type="text" id="tx_spbettercontact_input_fax" name="###FAX###" value="###VALUE_FAX###" class="###ERR_FAX###" />
		<br />
		<!--
			Field for street
		-->
		<p class="tx_spbettercontact_message">###MSG_STREET###</p>
		<label for="tx_spbettercontact_input_street" class="tx_spbettercontact_label">###LABEL_STREET###</label>
		<input type="text" id="tx_spbettercontact_input_street" name="###STREET###" value="###VALUE_STREET###" class="###ERR_STREET###" />
		<br />
		<!--
			Field for city
		-->
		<p class="tx_spbettercontact_message">###MSG_CITY###</p>
		<label for="tx_spbettercontact_input_city" class="tx_spbettercontact_label">###LABEL_CITY###</label>
		<input type="text" id="tx_spbettercontact_input_city" name="###CITY###" value="###VALUE_CITY###" class="###ERR_CITY###" />
		<br />
		<!--
			Field for email
		-->
		<p class="tx_spbettercontact_message">###MSG_EMAIL###</p>
		<label for="tx_spbettercontact_input_email" class="tx_spbettercontact_label">###LABEL_EMAIL###</label>
		<input type="text" id="tx_spbettercontact_input_email" name="###EMAIL###" value="###VALUE_EMAIL###" class="###ERR_EMAIL###" />
		<br />
		<!--
			Field for message
		-->
		<p class="tx_spbettercontact_message">###MSG_MESSAGE###</p>
		<label for="tx_spbettercontact_input_message" class="tx_spbettercontact_label">###LABEL_MESSAGE###</label>
		<textarea id="tx_spbettercontact_input_message" name="###MESSAGE###" rows="10" cols="30" class="###ERR_MESSAGE###">###VALUE_MESSAGE###</textarea>
		<br />
		<!--
			Add captcha from sub-templates below if configured
		-->
		###CAPTCHA_FIELD###
		<!--
			Submit button
		-->
		<p class="tx_spbettercontact_button"><input type="submit" name="###SUBMIT###" value="###SUBMIT_VALUE###" /></p>
		<!--
			Hidden fields for bot test
		-->
		<span class="tx_spbettercontact_hidden" style="visibility:hidden; display:none;">###HIDDEN###</span>
	</form>
<!-- ###TEMPLATE### end -->


<!-- ###SUB_TEMPLATE_SR_FREECAP### begin -->
<p class="tx_spbettercontact_message">###MSG_CAPTCHA###</p>
<label for="tx_spbettercontact_input_captcha" class="tx_spbettercontact_label">###LABEL_CAPTCHA###</label>
<input type="text" id="tx_spbettercontact_input_captcha" name="###CAPTCHA###" value="" class="###ERR_CAPTCHA###" />
<br />
<div class="tx_spbettercontact_captcha">
	<div class="tx_spbettercontact_captcha_image">###SR_FREECAP_IMAGE###</div>
	<div class="tx_spbettercontact_captcha_cant_read">###SR_FREECAP_CANT_READ###</div>
	<div class="tx_spbettercontact_captcha_accessible">###SR_FREECAP_ACCESSIBLE###</div>
</div>
<br />
<!-- ###SUB_TEMPLATE_SR_FREECAP### end -->


<!-- ###SUB_TEMPLATE_JM_RECAPTCHA### begin -->
<p class="tx_spbettercontact_message">###MSG_CAPTCHA###</p>
<label for="tx_spbettercontact_input_captcha" class="tx_spbettercontact_label" class="">###LABEL_CAPTCHA###</label>
<div class="tx_spbettercontact_captcha">
	###CAPTCHA_DATA###
</div>
<br />
<!-- ###SUB_TEMPLATE_JM_RECAPTCHA### end -->


<!-- ###SUB_TEMPLATE_CAPTCHA### begin -->
<p class="tx_spbettercontact_message">###MSG_CAPTCHA###</p>
<label for="tx_spbettercontact_input_captcha" class="tx_spbettercontact_label">###LABEL_CAPTCHA###</label>
<input type="text" id="tx_spbettercontact_input_captcha" name="###CAPTCHA###" value="" class="###ERR_CAPTCHA###" />
<br />
<div class="tx_spbettercontact_captcha">
	<div class="tx_spbettercontact_captcha_image">
		<img src="###CAPTCHA_FILE###" alt="captcha image" />
	</div>
</div>
<br />
<!-- ###SUB_TEMPLATE_CAPTCHA### end -->


</body>
</html>